<div class="container">
    <h1>Info for {{currUser}}</h1>
    <app-spinner [showSpinner]="loading"></app-spinner>

    <div *ngIf="userInfo">
        <button (click)="selectAnimeSource()">Anime</button>
        <button (click)="selectMangaSource()">Manga</button>
        <animetable [anime]="userInfo.anime" *ngIf="showAnime"></animetable>
        <mangatable [manga]="userInfo.manga" *ngIf="showAnime == false"></mangatable>
    
        <!--<ul>
            <li *ngFor="let media of userInfo.anime">
                <a target="_blank" href="https://myanimelist.net/{{media.type}}/{{media.id}}">{{media.title}}</a>
                <p>My score: {{media.user_score}}</p>
                <p>My status: {{media.user_status}}</p>
            </li>
        </ul> -->
    </div>
</div>